* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px;
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}
html {
  background-color: white;
}
body {
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Bad Script', cursive;
  background-color: #FFFFD5;
  padding: 1em;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  box-shadow: 5px 5px 5px #777;
  height: 730px;
  margin: 1em 0;
}
header {
  height: 4em;
  padding: 1em;
}
.winningpage {
  background-image: url('../img/monalisa.jpg');
  height: 800px;
}
.winningdiv {
  background-color: white;
  height: 7em;
  padding: 1em;
  
}
#container {
  width: 960px;
  margin: auto;
}
h1 {
  color: black;
  text-transform: uppercase;
  font-family: 'Bad Script', cursive;
  text-align: center;
  font-size: 40px;
  margin: 5em;
  margin-left: 200px;
}
h2 {
  font-size: 26px;
  margin: 0;
}
#wrapper {
  width: 685px;
  margin: 0 auto;
  background: none;
}
#holder {
  padding: 15px 5px 5px 15px;
  border: 2px solid #777;
  border-radius: 5px;
  float: left;
  background-color: #FFFFD5;
  opacity: .9;
  box-shadow: 0 10px 10px #777;
}
#sidebar {
  /*border: 1px solid black;
  background: gray;*/
  opacity: .8;
  height: 7em;
  text-align: center;
  padding-top: 1em;
}
.card {
  width: 100px;
  height: 135px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  background-image: url('../img/monalisa.jpg');
  background-size: cover;
  background-repeat: none;
  border: #5FA8B7;
  box-shadow: 0 5px 5px #777;
  border-right: 2px solid white;
}
.card img {
  width: 100%;
  height: 135px;
  display: none;
}
.card img.selected, .card img.matched {
  display: block;
}
button {
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
  background-image: -webkit-linear-gradient(top, #e07c45, #dbc1a2);
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color:black;
}
button:hover {
  background: #e07c45;
  background-image: -webkit-linear-gradient(top, gray, #dbc1a2);
}
.fa fa-paint-brush {
  width: 30px;
}
.flyingdiv {
  width: 400px;
  height: 100px;
  transition-property: margin-left;
  transition-duration: 2s;
  margin-left: -200px;
}
.active {
  margin: 0 0 0 140px;
}
.flyingdiv2 {
  width: 200px;
  height: 100px;
  transition-property: margin-left;
  transition-duration: 2s;
  margin-right: 100px;
}
.active2 {
  margin: 20px 500px 0 100px;
}
