* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px;
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}
html {
  background-color: white;
}
body {
  color: #FFFFD5;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FFFFD5;
  padding: 1em;
}
.winningpage {
  background-image: url('../img/monalisa.jpg');
  height: 800px;
}
header {}
#container {
  width: 960px;
  margin: auto;
}
h1 {
  color: black;
  text-transform: uppercase;
  font-family: 'Arial';
  text-align: center;
}
#wrapper {
  width: 685px;
  margin: 0 auto;
  background: none;
}
#holder {
  padding: 15px 5px 5px 15px;
  border: 2px solid #5FA8B7;
  border-radius: 5px;
  float: left;
  background-color: #FFFFD5;
}
#sidebar {
  border: 1px solid black;
  background: gray;
  opacity: .8;
  height: 6em;
}
.card {
  width: 100px;
  height: 135px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  background-image: url('../img/monalisa.jpg');
  background-size: cover;
  background-repeat: none;
  border: #5FA8B7;
  -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 5px 0px rgba(244,107,39,1);
}
.card img {
  width: 100%;
  height: 135px;
  display: none;
}
.card img.selected, .card img.matched {
  display: block;
}
button {
  padding: 1em;
  border-radius: 20px;
  margin: 1em;
}
.fa fa-paint-brush{
  width: 30px;
}
